.button {
  padding: 10px 20px;
  margin: 3px;
  font-size: 13px;
  background-color: lightgrey;
  color: black;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #7fc3df;
}